<h1 style="text-align: center">
	Welcome to Chris Blog App
</h1>

<img style="display: block; margin-left: auto; margin-right: auto" src="https://thetallesttulip.com/wp-content/uploads/blog-cover-overlay.jpg">

<li><a href='/signup'>Sign Up</a></li>
<li><a href="/login">Login</a></li>