<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="colorgame.css">
</head>
<body>
<h1>
	The Great
	<br>
	<span id="colorDisplay">RGB</span>
	<br>Color Game
</h1>

	         <div id="stripe">
			 <button id="new">NEW COLOR</button>
			 <span id="message"></span>
			 <button id="easy" class="selected">EASY</button>
			 <button id="hard" class="selected">HARD</button>
		    </div>
	

<div class="bottom">
	<div id="square" value="0"></div>
	<div id="square" value="1"></div>
	<div id="square" value="2"></div>
	<div id="square" value="3"></div>
	<div id="square" value="4"></div>
	<div id="square" value="5"></div>
</div>
    
<script type="text/javascript" src="colorgame.js"></script>
</body>
</html>