<h1 style="text-align: center">
	This will be the secret page
</h1>

<div class="type">
	<img style="width: 50%; display: block; margin-left: auto; margin-right: auto" src="https://static.toiimg.com/thumb/58475411/Kolkata-in-pictures.jpg?width=748&height=499">
</div>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>