<!DOCTYPE html>
<html>
	<head>
		<title>Blog App</title>
		
		        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
		
		<link rel="stylesheet" type="text/css" href="public/app.css">

		<style type="text/css">
			
			     body {
            background-color: #FFFFFF;
          }
          .main.container {
            margin-top: 7.0em;
          }
          
          i.icon {
            font-size: 2em;
          }
			#delete {
				display: inline;
			}
        </style>
	
<body>
	
<div class="ui fixed inverted menu">
	<div class="ui container">
		 <div class="header item"> <i class="code icon"></i>
    Blogs
  </div>
  <a href="/blogs" class="item">
    Home
  </a>
  <a href="/blogs/new" class="item">
    New
   </a>
	</div>
</div>